<form method="POST" action="/new">
  <h1>Send New Message</h1>
  <div>
    <label for="username">Name:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
