<form method="POST" action="/new">

    <h1>Send New Message</h1>
    <div>
    <label for="user">Name:</label>
      </div>
      <input type="text" id="user" name="user">
    
      <label for="message">Message:</label>
    </div>
    <input type="text" id="message" name="message">

      <div>
        <button type="submit">Submit</button>
      </div>
 </form>