<ul>
  <li>
    From: <%= message.user %>
    <br />
  </li>
  <li>
    Message: <%= message.text %>
    <br />
  </li>
  <li>
    Date: <%= message.added.toLocaleString() %>
    <br />
  </li>
</ul>
